@import url(bootstrap.min.css);
@import url(../fonts/fonts.css);

html,body{
  overflow-x: hidden;
}


/* fonts */
body{
  font-family: Georgia, "Helvetica Neue", Arial, sans-serif;
  color: #eee;
  font-size:1.1rem;
  background-image: url('../assets/background_rock_shade.jpg');
  background-position: center -200px;
  background-size: 100% auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Special Elite", Georgia, "Times New Roman", Times, serif;
}

.h2,.h3,.h4{
  font-family: "Special Elite", Georgia, "Times New Roman", Times, serif;
}

.modal{
  color:#000;
}

[data-bs-toggle="modal"]{
  cursor: pointer;
}

a:link,a:visited{
  color: #fff;
}

.lead-description{
  font-family: Georgia, serif;
}

.carousel-caption p{
  background-color:rgba(0,0,0,0.25);
}

.firstcharacter {

  float: left;
  font-family: "Special Elite", Georgia, serif;
  font-size: 5em;
  line-height: 0rem;
  padding-top: 3rem;
  padding-right: 8px;
  padding-bottom: 5px;
}


/* CSS for hero image, either background photo or background video */
.hero{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  color: #ffffff;
  position: relative;
}
.hero header{
  background-color:rgba(0,0,0,0.75);

}
.hero header > *{
  position: relative;
  z-index: 10;
}
.hero video{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  height: 100vh;
  width: auto;
  z-index: 1 !important;
}
@media (min-aspect-ratio:16/9){
  .hero video{
    width: 100vw;
    height: auto;
  }
}


/* helper */
.vh-200{ height: 200vh;}
.vh-300{ height: 300vh;}
.vh-400{ height: 400vh;}
.vh-500{ height: 500vh;}
.vh-600{ height: 600vh;}


.bear-background{
  background-image: url('../assets/plain-bear-needles.jpg');
}



.spread-out{
  margin-top:100vh;
  margin-bottom:100vh;
  overflow: hidden;
}

